.filters-group {
  padding-top: 20px;
  border-top: 1px solid #64748b;
}

.filter-heading {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: 10px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.filter-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.checkbox,
.radio {
  margin-right: 8px;
}

.filter-label {
  font-size: 14px;
  color: #ffffff;
  font-family: Roboto;
}
