.job-item-details-success {
  padding: 30px;
  background-color: #121212;
  color: #ffffff;
}

.job-item-card {
  background-color: #272727;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-link {
  color: #6366f1;
  font-family: Roboto;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.skills-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 20px 0;
}

.skill-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.skill-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.skill-name {
  font-size: 14px;
  font-family: Roboto;
  color: #ffffff;
}

.life-at-company-section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.life-description {
  font-size: 14px;
  font-family: Roboto;
  color: #cbd5e1;
  width: 60%;
}

.life-image {
  width: 35%;
}

.similar-jobs-heading {
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 10px;
}

.similar-jobs-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.job-details-failure-container {
  text-align: center;
  padding: 40px;
}

.failure-image {
  width: 300px;
  margin-bottom: 20px;
}

.failure-heading {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.failure-description {
  color: #cbd5e1;
  font-size: 14px;
  margin-bottom: 20px;
}

.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
